@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

h2 {
    font-weight: 200;
    font-size: 55px;
    text-transform: uppercase;
    border-top: 4px solid;
}

h4 {
    color: aliceblue;
}

body{
    background-color: #c75d40;
    color: #3d3a52;
    font-family: "Source Code Pro";
    font-weight: 200;
}

img{
    height: 500px;
    border-radius: 50%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

button {
    margin: 30px auto 0;
    padding: 20px 25px;
    background-color: #c75d40;
    font-size: 14px;
    text-align: center;
    border: 1px solid #3d3a52;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    outline: none;
}

button:hover {
    transition: 0.25s;
    background-color: #3d3a52;
    color: #c75d40;
    text-decoration: underline;
    
}

p {
    font-size: 20px;
}